<header class="header">
    <span class="header__inner">
        {{- if .Site.Menus }}
            <nav class="header__left">
                {{- $currentPage := . -}}
                {{ range sort .Site.Menus.main ".Identifier" -}}
                    {{ if not .HasChildren }}
                        {{ if eq .Weight 1 }}
                            <a href="{{ .URL | relLangURL }}" class="nav-link">{{ .Name }}</a>
                        {{ end }}
                    {{ end }}
                {{- end }}
            </nav>
        {{- end }}

        {{ partial "logo.html" . }}

        {{- if .Site.Menus }}
            <span class="header__right">
                {{- $currentPage := . -}}
                {{ range sort .Site.Menus.main ".Identifier" -}}
                    {{ if not .HasChildren }}
                        {{ if gt .Weight 1 }}
                            <a href="{{ .URL | relLangURL }}" class="nav-link">{{ .Name }}</a>
                        {{ end }}
                    {{ end }}
                {{- end }}

                {{- if .Site.Params.EnableThemeToggle }}
                    <span class="theme-toggle not-selectable">{{ partial "theme-toggle-icon.html" . }}</span>
                {{- end}}
            </span>
        {{- end }}
    </span>
</header>