.footer {
  padding: 20px 20px;
  flex-grow: 0;
  color: $color-secondary;
  font-size: $text-sm;
  position: relative;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.8s ease-in-out 0.3s, visibility 0.8s ease-in-out 0.3s;

  &.fade-in {
    opacity: 1;
    visibility: visible;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 760px;
    max-width: 100%;
  }

  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $color-secondary;

    & > *:not(:last-child)::after {
      content: " ";
      padding: 0 3px;
    }
  }
}
