.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0;
  // Default
  background: $light-background-header;

  @media (prefers-color-scheme: dark) {
    background: $dark-background-header;
  }

  @media (prefers-color-scheme: light) {
    background: $light-background-header;
  }

  [data-theme=dark] & {
    background: $dark-background-header;
  }

  [data-theme=light] & {
    background: $light-background-header;
  }

  &__left {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
    margin-right: 2rem;

    .nav-link {
      margin-left: 1rem;
      text-decoration: none;
      color: inherit;
      font-weight: 500;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__right {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    margin-left: 2rem;

    .nav-link {
      margin-right: 1rem;
      text-decoration: none;
      color: inherit;
      font-weight: 500;

      &:hover {
        text-decoration: underline;
      }
    }

    @media #{$media-size-phone} {
      flex-direction: row-reverse;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
  }
}

.theme-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  cursor: pointer;
}

.theme-toggler {
  fill: currentColor;
}

.not-selectable {
  user-select: none;
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
}