.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 16px 0;
  background: transparent;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.8s ease-in-out, visibility 0.8s ease-in-out;

  &.fade-in {
    opacity: 1;
    visibility: visible;
  }

  &__left {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
    margin-right: 2rem;

    .nav-link {
      margin-left: 1rem;
      text-decoration: none;
      color: inherit;
      font-weight: 500;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__right {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    margin-left: 2rem;

    .nav-link {
      margin-right: 1rem;
      text-decoration: none;
      color: inherit;
      font-weight: 500;

      &:hover {
        text-decoration: underline;
      }
    }

    @media #{$media-size-phone} {
      flex-direction: row-reverse;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
  }
}

