#particle-image {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.8s ease-in-out, visibility 0.8s ease-in-out;

  &.fade-in {
    opacity: 1;
    visibility: visible;
  }
}

.particle-image-canvas-el {
  width: 100% !important;
  height: 100% !important;
  touch-action: none;
}