#particle-image {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

.particle-image-canvas-el {
  width: 100% !important;
  height: 100% !important;
}