#particle-image {
  background-color: transparent;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.particle-image-canvas-el {
  width: 100% !important;
  height: 100% !important;
}