@charset "UTF-8";

/* Color scheme */
$background: #fbf1c7;
$background-secondary: #e4d8b1;
$background-header: #fbf1c7;
$color: #3c3836;
$color-variant: #282828;
$color-secondary: #665c54;
$border-color: #d5c4a1;
$table-color: #d5c4a1;

$media-size-phone: "(max-width: 684px)";
$media-size-tablet: "(max-width: 900px)";

/* Variables for js, must be the same as these in @custom-media queries */
:root {
  --phoneWidth: (max-width: 684px);
  --tabletWidth: (max-width: 900px);
}

/* Content */
$max-width: 860px;

/* Fluid Typography */
$text-base: 1rem;
$text-sm: clamp(0.7rem, calc(0.65rem + 0.25vw), 0.85rem);
$text-md: clamp(0.85rem, calc(0.8rem + 0.3vw), 1.25rem);
$text-lg: clamp(0.9rem, calc(0.85rem + 0.5vw), 1.75rem);
$text-display: clamp(1rem, calc(0.9rem + 0.8vw), 2.5rem);