@charset "UTF-8";

/* Color scheme */
$background: #fbf1c7;
$background-secondary: #e4d8b1;
$background-header: #fbf1c7;
$color: #3c3836;
$color-variant: #282828;
$color-secondary: #665c54;
$border-color: #d5c4a1;
$table-color: #d5c4a1;

$media-size-phone: "(max-width: 684px)";
$media-size-tablet: "(max-width: 900px)";

/* Variables for js, must be the same as these in @custom-media queries */
:root {
  --phoneWidth: (max-width: 684px);
  --tabletWidth: (max-width: 900px);
}

/* Content */
$max-width: 860px;